<div class="row">
  <div class="col-sm-4 col-lg-4 offset-sm-1 offset-lg-1">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :surname %><br />
        <%= f.text_field :surname, autofocus: true, class: 'form-control' %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <%= f.label :password %> <% if @minimum_password_length %><em>(<%= @minimum_password_length %> characters minimum)</em><% end %>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Leave blank if you don\'t want to change it' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :current_password %>
        <%= f.password_field :current_password, autocomplete: "off", class: 'form-control', placeholder: 'Current password to confirm changes' %>
      </div>

      <div class="actions pull-xs-right">
        <%= f.submit "Update", class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
  <div class="col-sm-4 col-lg-4 offset-sm-2 offset-lg-2">
    <h2>Delete the account</h2>

    <p>Unhappy ? <%= button_to "Cancel my account", registration_path(resource_name), class: 'btn btn-danger', method: :delete %></p>

    <%= link_to "Back", :back %>
  </div>
</div>