<div class="row">
  <div class="col-sm-4 col-lg-4 offset-sm-4 offset-lg-4">
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'yourname@domain.com' %>
      </div>

      <div class="form-group">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :surname %><br />
        <%= f.text_field :surname, autofocus: true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'password' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'password confirmation' %>
      </div>

      <div class="form-group">
        <%= f.submit "Sign up", class: 'btn btn-primary' %>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>

    
  </div>
</div>
