<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12"><h1>Users</h1></div>
	  <div class="col-sm-12 col-md-12 col-lg-12">
			<table id="users-table" class="display table table-striped hover" cellspacing="0" width="100%" data-source="<%= users_all_path(id: current_user.id, format: :json) %>">
		        <thead>
		            <tr>
		                <th>Id</th>
		                <th>Email</th>
		                <th>Name</th>
		                <th>Surname</th>
		            </tr>
		        </thead>
		        <tfoot>
		            <tr>
		                <th>Id</th>
		                <th>Email</th>
		                <th>Name</th>
		                <th>Surname</th>
		            </tr>
		        </tfoot>
			</table>
		</div>
</div>