<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12"><h1>User Profile</h1></div>
  <div class="col-sm-12 col-md-12 col-lg-12">
  	<div class="card card-block">
      	<h3 class="card-title">Bio</h3>
      	<p class="card-text"><strong>Name:</strong> <%= @user.try(:name) %> </p>
      	<p class="card-text"><strong>Surname:</strong> <%= @user.try(:surname) %> </p>
      	<p class="card-text"><strong>Email:</strong> <%= @user.try(:email) %></p>
      	<% if current_user == @user %>
       	  <%= link_to "Edit Profile", edit_user_registration_path, class: 'btn btn-primary pull-xs-right' %>
        <% end %>
	</div>
  	 
  </div>
</div>

<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<h3>Transactions</h3>
		<div class="col-sm-12 col-md-12 col-lg-12">
			<!-- Nav tabs -->
		<ul class="nav nav-tabs" id="nav-admin" role="tablist">
		  <li class="nav-item">
		    <a class="nav-link active" data-toggle="tab" data-val="all" href="#all" role="tab">All</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" data-toggle="tab" data-val="sells" href="#sells" role="tab">Sales</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" data-toggle="tab" data-val="buys" href="#buys" role="tab">Purchases</a>
		  </li>
		</ul>


		<div class="tab-content">
		  <div class="tab-pane fade in active" id="all" role="tabpanel">
		  	<p class="pull-xs-right">
  				Download:
  				<%= link_to "CSV", user_alltransactions_path(id: @user.id, format: "csv") %> |
  				<%= link_to "Excel", user_alltransactions_path(id: @user.id, format: "xls") %>
			</p>
		  	<table id="all-users" class="display table table-striped hover" cellspacing="0" width="100%" data-source="<%= user_transactions_path(status: 'ALL', id: @user.id,format: :json) %>">
		        <thead>
		            <tr>
		                <th>Id</th>
		                <th>Seller</th>
		                <th>Buyer</th>
		                <th>Timestamp</th>
		                <th>Amount</th>
		            </tr>
		        </thead>
		        <tfoot>
		            <tr>
		                <th>Id</th>
		                <th>Seller</th>
		                <th>Buyer</th>
		                <th>Timestamp</th>
		                <th>Amount</th>
		            </tr>
		        </tfoot>
			</table>
		  </div>
		  <div class="tab-pane fade" id="sells" role="tabpanel">
		  	<p class="pull-xs-right">
  				Download:
  				<%= link_to "CSV", user_sells_path(id: @user.id, format: "csv") %> |
  				<%= link_to "Excel", user_sells_path(id: @user.id, format: "xls") %>
			</p>
		  	<table id="sells-table" class="display table table-striped hover" cellspacing="0" width="100%" data-source= <%= user_sales_path(status: 'SELLER', id: @user.id, format: :json) %> >
		        <thead>
		            <tr>
		                <th>Id</th>
		                <th>Seller</th>
		                <th>Buyer</th>
		                <th>Timestamp</th>
		                <th>Amount</th>
		            </tr>
		        </thead>
		        <tfoot>
		            <tr>
		                <th>Id</th>
		                <th>Seller</th>
		                <th>Buyer</th>
		                <th>Timestamp</th>
		                <th>Amount</th>
		            </tr>
		        </tfoot>
			</table>
		  </div>
		  <div class="tab-pane fade" id="buys" role="tabpanel">
		  	<p class="pull-xs-right">
  				Download:
  				<%= link_to "CSV", user_buys_path(id: @user.id, format: "csv") %> |
  				<%= link_to "Excel", user_buys_path(id: @user.id, format: "xls") %>
			</p>
		  	<table id="buyers-table" class="display table table-striped hover" cellspacing="0" width="100%" data-source= <%= user_purchases_path(status: 'BUYER', id: @user.id, format: :json) %>>
		        <thead>
		            <tr>
		                <th>Id</th>
		                <th>Seller</th>
		                <th>Buyer</th>
		                <th>Timestamp</th>
		                <th>Amount</th>
		            </tr>
		        </thead>
		        <tfoot>
		            <tr>
		                <th>Id</th>
		                <th>Seller</th>
		                <th>Buyer</th>
		                <th>Timestamp</th>
		                <th>Amount</th>
		            </tr>
		        </tfoot>
			</table>
		  </div>
		</div>
	</div>
</div>

