<div class="row">
  <div class="col-sm-4 col-lg-4 offset-sm-4 offset-lg-4">
	<h2>Reset Password</h2>

	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <div class="form-group">
	    <%= f.label :email %><br />
	    <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'example@email.com' %>
	  </div>

	  <div class="actions pull-xs-right">
	    <%= f.submit "Reset password", class: 'btn btn-primary' %>
	  </div>
	<% end %>

	<%= render "devise/shared/links" %>
  </div>
</div>
