<div class="row">
	<div class="col-md-12 col-sm-12 col-lg-12">
      <h1>Something Bad Happened !!!</h1>
      <p class="error-info">Please provide more informations about the accident to this email address: <%= mail_to "jonatan.maggesi@unimi.it", "Webmaster", subject: "Alphaplus Crash Report" %></p>

      <p class="error-thanks">Thank you for your patience !</p>
    </div>
</div>

