<div class="row">
	<div class="col-md-12 col-sm-12 col-lg-12">
      <h1>Aaaaaaargh !!!</h1>
      <p class="error-info">The page your looking for doesn't exists ! Please go back to the <%= link_to 'Home Page',  transactions_index_path %>
      </p>

      <p class="error-thanks">Thank you for your patience !</p>
    </div>
</div>
