<div class="row">
  <div class="col-sm-4 col-lg-4 offset-sm-4 offset-lg-4">
    <h2>Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'example@email.com' %>
      </div>

      <div class="form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: raw("&bull;&bull;&bull;&bull;&bull;&bull;") %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <%= f.check_box :remember_me , class: 'squaredThree' %>
          <%= f.label :remember_me %>
        </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in", class: 'btn btn-primary' %>
    </div>
  <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>

