body {
    padding-top: 100px;
  	/* Margin bottom by footer height */
  	margin-bottom: 60px;
  	padding-bottom: 60px;
}

.tab-content {
	margin-top: 10px;
}

p.card-text {
    font-size: 16px;
}

span.badge {
  font-size: 90%;
  padding: 0.5em; 
}

.ui-helper-hidden-accessible { position: absolute; left:-999em; }

.autoresults .results .ui-widget-content {
  background: #fff;
  font-size: .9em;
  padding: .5em 0;
  border-color: #ddd;
  box-shadow: 0 .1em .2em rgba(187, 187, 187, 0.64);
  line-height: 1.2;
  max-height: 20em;
  overflow: hidden;
  overflow-y: auto;
}

.autoresults .results .ui-menu-item {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  padding: .4em .6em .4em 6.2em;
  position: relative;
  border: 0;
  border-left: 5px solid transparent;
  position: relative;
  height: 6.5em;
}

.autoresults .results .ui-state-focus {
  background: #fff;
  border-left-color: #08c;
  font-weight: 300;
}

.autoresults .results .ui-menu-item .title {
  display: block;
  color: #555;
}

.autoresults .results .ui-menu-item .author {
  display: block;
  font-size: .8em;
  text-transform: uppercase;
  color: #aaa;
  margin-top: .6em;
  letter-spacing: 1px;
}


.autoresults .results .ui-state-focus .author,
.autoresults .results .ui-state-focus .title {
  color: #08c;
}

.ui-menu-item{
  cursor: pointer;
}



.mfp-arrow.active.focus, .mfp-arrow.active:focus,
.mfp-arrow.focus, .mfp-arrow:active.focus, 
.mfp-arrow:active:focus, .mfp-arrow:focus, 
.mfp-close.active.focus, .mfp-close.active:focus,
.mfp-arrow.focus, .mfp-close:active.focus, 
.mfp-close:active:focus, .mfp-close:focus {
      outline: none;
}

.dropzone {
    height: 450px;
}

.edit-button {
  margin-bottom: 1em;
}

.content-margin, figure.figure.col-md-2.col-lg-2 {
  margin-top: 1em;
}

.result{
  margin-top: 1em;
}

.error-info {
  margin-top: 2em;
  margin-bottom: 1em;
}

#dropzoneButtons.aligned-buttons{
  display: inline-block;
  vertical-align: top;
}

#uploadTransaction{
  margin-top: 20px;
}

.table-striped.hover tbody tr:hover{
   /*  background-color: #C0E1ED; */
    background-color: #B8DEFF;
    cursor: pointer;
}

.squaredThree {
  width: 20px;
  position: relative;
  margin: 20px auto;
}

.squaredThree label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
  background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
  border-radius: 4px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4);
}

.squaredThree label:after {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top: 4px;
  left: 4px;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.squaredThree label:hover::after {
  opacity: 0.3;
}

.squaredThree input[type=checkbox] {
  visibility: hidden;
}

.squaredThree input[type=checkbox]:checked + label:after {
  opacity: 1;
}