<div class="row content-margin">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<h3>Gallery</h3>
		<figure class="figure col-md-2 col-lg-2 offset-md-1">
      		<a class="image-test" href=<%= transaction_image(transaction.id, 'pictureOriginal', transaction.pictureOriginal, false) %> title="Seller Pic">
  				<img src=<%= transaction_image(transaction.id, 'pictureOriginal', transaction.pictureOriginal, true) %> class="figure-img img-fluid img-thumbnail" alt="A generic square placeholder image with rounded corners in a figure.">
  			</a>
  			<figcaption class="figure-caption">Seller Original Picture.</figcaption>
		</figure>

		<figure class="figure col-md-2 col-lg-2">
      		<a class="image-test" href=<%= transaction_image(transaction.id, 'pictureBW', transaction.pictureBW, false) %> title="Buyer Pic">
  				<img src=<%= transaction_image(transaction.id, 'pictureBW', transaction.pictureBW, true) %> class="figure-img img-fluid img-thumbnail" alt="A generic square placeholder image with rounded corners in a figure.">
  			</a>
  			<figcaption class="figure-caption">Buyer Original picture.</figcaption>
		</figure>
    
		<figure class="figure col-md-2 col-lg-2">
      		<a class="image-test" href=<%= transaction_image(transaction.id, 'share1', transaction.share1, false) %> title="Share n°1">
  				<img src=<%= transaction_image(transaction.id, 'share1', transaction.share1, true) %> class="figure-img img-fluid img-thumbnail" alt="A generic square placeholder image with rounded corners in a figure.">
  			</a>
  			<figcaption class="figure-caption">Share n°1 of the transaction.</figcaption>
		</figure>

		<figure class="figure col-md-2 col-lg-2">
      		<a class="image-test" href=<%= transaction_image(transaction.id, 'share2', transaction.share2, false) %> title="Share n°2">
  				<img src=<%= transaction_image(transaction.id, 'share2', transaction.share2, true) %> class="figure-img img-fluid img-thumbnail" alt="A generic square placeholder image with rounded corners in a figure.">
  			</a>
  			<figcaption class="figure-caption">Share n°2 of the transaction.</figcaption>
		</figure>
    
		<figure class="figure col-md-2 col-lg-2">
      		<a class="image-test" href=<%= transaction_image(transaction.id, 'recreatedPic', transaction.recreatedPic, false) %> title="Recreated Pic">
  				<img src=<%= transaction_image(transaction.id, 'recreatedPic', transaction.recreatedPic, true) %> class="figure-img img-fluid img-thumbnail" alt="A generic square placeholder image with rounded corners in a figure.">
  			</a>
  			<figcaption class="figure-caption">Recreated Pic.</figcaption>
		</figure>

	</div>
</div>