<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Seller</Data></Cell>
        <Cell><Data ss:Type="String">Buyer</Data></Cell>
        <Cell><Data ss:Type="String">Transaction Time</Data></Cell>
        <Cell><Data ss:Type="String">Amount</Data></Cell>
        <Cell><Data ss:Type="String">Accepted</Data></Cell>
        <Cell><Data ss:Type="String">Rejected</Data></Cell>
      </Row>
    <% @transactions.each do |transaction| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= transaction.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= transaction.seller.email %></Data></Cell>
        <Cell><Data ss:Type="String"><%= transaction.buyer.email %></Data></Cell>
        <Cell><Data ss:Type="String"><%= transaction.transactiontime %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= transaction.amount %></Data></Cell>
        <Cell><Data ss:Type="String"><%= transaction.accepted %></Data></Cell>
        <Cell><Data ss:Type="String"><%= transaction.rejected %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>