<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <h1>Edit Transaction</h1>
    
    <%= form_for(@transaction, url: transaction_update_path(@transaction), html: {class: 'col-sm-12 col-md-6 col-lg-6 offset-md-3 offset-lg-3 content-margin'}) do |f| %>

      <div class="form-group">
        <%= f.label :seller_email %><br />
        <%= f.text_field :seller_email, value: @transaction.try(:seller).try(:email), autofocus: true, class: 'form-control', disabled: true %>
      </div>

      <div class="form-group">
        <%= f.label :buyer_email %><br />
        <%= f.text_field :seller_name, value: @transaction.try(:buyer).try(:email), autofocus: true, class: 'form-control', disabled: true %>
      </div>

      <div class="form-group">
        <%= f.label :timestamp %><br />
        <%= f.text_field :timestamp, value: transaction_time(@transaction.try(:transactiontime)), autofocus: true, class: 'form-control', disabled: true %>
      </div>

      <div class="form-group">
        <%= f.label :amount %><br />
        <%= f.number_field :amount, value: @transaction.try(:amount), min: 0.01, autofocus: true, class: 'form-control', :step => 0.01 %>
      </div>


      <div class="form-group">
        <%= f.submit "Save", class: 'btn btn-primary pull-xs-right edit-button' %>
      </div>
    <% end %>
    </div>

	</div>

  <%= render partial: 'gallery', locals: {transaction: @transaction} %>

</div>