<div class="row">
	<div class="col-md-12 col-sm-12 col-lg-12"><h1>Transactions</h1></div>
	<div class="col-sm-12 col-md-12 col-lg-12">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" id="nav-admin" role="tablist">
		  <li class="nav-item">
		    <a class="nav-link active" data-toggle="tab" data-val="allTransactions" href="#all-transaction" role="tab">All</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" data-toggle="tab" data-val="toapprove" href="#home" role="tab">To Approve</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" data-toggle="tab" data-val="rejected" href="#rejected" role="tab">Rejected</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" data-toggle="tab" data-val="accepted" href="#accepted" role="tab">Accepted</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" data-toggle="tab" data-val="incomplete" href="#incomplete" role="tab">Incomplete</a>
		  </li>
		</ul>
		
		<!-- Tab panes -->
		<div class="tab-content">
		  <div class="tab-pane fade in active" id="all-transaction" role="tabpanel">
		  	<p class="pull-xs-right">
  				Download:
  				<%= link_to "CSV", transactions_all_path(format: "csv") %> |
  				<%= link_to "Excel", transactions_all_path(format: "xls") %>
			</p>
		  	<table id="allTransaction" class="display table table-striped hover" cellspacing="0" width="100%" data-source="<%= transactions_transactions_path(status: 'ALL', format: :json) %>">
		        <thead>
		            <tr>
		                <th>Id</th>
		                <th>Seller</th>
		                <th>Buyer</th>
		                <th>Timestamp</th>
		                <th>Amount</th>
		            </tr>
		        </thead>
		        <tfoot>
		            <tr>
		                <th>Id</th>
		                <th>Seller</th>
		                <th>Buyer</th>
		                <th>Timestamp</th>
		                <th>Amount</th>
		            </tr>
		        </tfoot>
			</table>
		  </div>
		  <div class="tab-pane fade in" id="home" role="tabpanel">
		  	<p class="pull-xs-right">
  				Download:
  				<%= link_to "CSV", transactions_toapprove_path(format: "csv") %> |
  				<%= link_to "Excel", transactions_toapprove_path(format: "xls") %>
			</p>
		  	<table id="toapprove" class="display table table-striped hover" cellspacing="0" width="100%" data-source="<%= transactions_transactions_path(status: 'TO_APPROVE', format: :json) %>">
		        <thead>
		            <tr>
		                <th>Id</th>
		                <th>Seller</th>
		                <th>Buyer</th>
		                <th>Timestamp</th>
		                <th>Amount</th>
		            </tr>
		        </thead>
		        <tfoot>
		            <tr>
		                <th>Id</th>
		                <th>Seller</th>
		                <th>Buyer</th>
		                <th>Timestamp</th>
		                <th>Amount</th>
		            </tr>
		        </tfoot>
			</table>
		  </div>
		  <div class="tab-pane fade" id="rejected" role="tabpanel">
		  	<p class="pull-xs-right">
  				Download:
  				<%= link_to "CSV", transactions_rejected_path(format: "csv") %> |
  				<%= link_to "Excel", transactions_rejected_path(format: "xls") %>
			</p>
		  	<table id="rejected-table" class="display table table-striped hover" cellspacing="0" width="100%" data-source="<%= transactions_transactions_path(status: 'REJECTED', format: :json) %>">
		        <thead>
		            <tr>
		                <th>Id</th>
		                <th>Seller</th>
		                <th>Buyer</th>
		                <th>Timestamp</th>
		                <th>Amount</th>
		            </tr>
		        </thead>
		        <tfoot>
		            <tr>
		                <th>Id</th>
		                <th>Seller</th>
		                <th>Buyer</th>
		                <th>Timestamp</th>
		                <th>Amount</th>
		            </tr>
		        </tfoot>
			</table>
		  </div>
		  <div class="tab-pane fade" id="accepted" role="tabpanel">
		  	<p class="pull-xs-right">
  				Download:
  				<%= link_to "CSV", transactions_accepted_path(format: "csv") %> |
  				<%= link_to "Excel", transactions_accepted_path(format: "xls") %>
			</p>
		  	<table id="accepted-table" class="display table table-striped hover" cellspacing="0" width="100%" data-source="<%= transactions_transactions_path(status: 'ACCEPTED', format: :json) %>">
		        <thead>
		            <tr>
		                <th>Id</th>
		                <th>Seller</th>
		                <th>Buyer</th>
		                <th>Timestamp</th>
		                <th>Amount</th>
		            </tr>
		        </thead>
		        <tfoot>
		            <tr>
		                <th>Id</th>
		                <th>Seller</th>
		                <th>Buyer</th>
		                <th>Timestamp</th>
		                <th>Amount</th>
		            </tr>
		        </tfoot>
			</table>
		  </div>
		  <div class="tab-pane fade" id="incomplete" role="tabpanel">
		  	<p class="pull-xs-right">
  				Download:
  				<%= link_to "CSV", transactions_incomplete_path(format: "csv") %> |
  				<%= link_to "Excel", transactions_incomplete_path(format: "xls") %>
			</p>
		  	<table id="incomplete-table" class="display table table-striped hover" cellspacing="0" width="100%" data-source="<%= transactions_transactions_path(status: 'INCOMPLETE', format: :json) %>">
		        <thead>
		            <tr>
		                <th>Id</th>
		                <th>Seller</th>
		                <th>Buyer</th>
		                <th>Timestamp</th>
		                <th>Amount</th>
		            </tr>
		        </thead>
		        <tfoot>
		            <tr>
		                <th>Id</th>
		                <th>Seller</th>
		                <th>Buyer</th>
		                <th>Timestamp</th>
		                <th>Amount</th>
		            </tr>
		        </tfoot>
			</table>
		  </div>
		</div>
	</div>
</div>
