<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12"><h1>Custom Exports</h1>

  <%= search_form_for(
    @search,
    url: transactions_search_path,
    class: 'content-margin',
    html: { method: :get }
  ) do |f| %>

    <div class="form-group row">
      <%= f.label :seller_email_eq, 'Seller email',class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-10 autoresults">
        <%= f.text_field :seller_email_eq, class:'form-control seller-email', type: 'email' %>
        <div class="results" id="seller-search-results"></div>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :buyer_email_eq, 'Buyer email',class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-10 autoresults">
        <%= f.text_field :buyer_email_eq, class:'form-control buyer-email', type: 'email' %>
        <div class="results" id="buyer-search-results"></div>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :transactiontime_gteq, 'Timestamp >=',class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-10">
        <%= f.text_field :transactiontime_gteq, class:'form-control', type: 'date', value: @transact_great_than %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :transactiontime_lteq, 'Timestamp <=',class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-10">
        <%= f.text_field :transactiontime_lteq, class:'form-control', type: 'date', value: @transact_less_than %>
      </div>
    </div>

    <div class="form-group row">
      <label class="custom-control custom-checkbox col-sm-3">
        <%= f.check_box :accepted_eq, class:'custom-control-input', type: 'checkbox' %>
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Accepted</span>
      </label>

      <label class="custom-control custom-checkbox col-sm-3">
        <%= f.check_box :rejected_eq, class:'custom-control-input', type: 'checkbox' %>
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Rejected</span>
      </label>

    </div>
    <div id="dropzoneButtons" class="text-xs-right">
        <input type='reset' id="clear" value="Clear" class="btn btn-danger aligned-buttons" onClick="document.getElementById('transaction_search').reset();">
        <%= f.submit class: 'btn btn-outline-primary aligned-buttons', id: 'search' %>
    </div>
<% end %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 result">
      <h2>Results</h2>
      <p class="pull-xs-right">
          Download:
          <% if !params[:q].blank? %>
            <%= link_to "CSV", transactions_search_path(format: 'csv', params: request.query_parameters) %> |
            <%= link_to "Excel", transactions_search_path(format: "xls", params: request.query_parameters) %>
          <% else %>

            <%= link_to "CSV", transactions_search_path(format: "csv") %> |
            <%= link_to "Excel", transactions_search_path(format: "xls") %>
          <% end %>
      </p>
      <table id="customExport" class="display table table-striped hover" cellspacing="0" width="100%" >
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Seller</th>
                    <th>Buyer</th>
                    <th>Timestamp</th>
                    <th>Amount</th>
                    <th>Accepted</th>
                    <th>Rejected</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Seller</th>
                    <th>Buyer</th>
                    <th>Timestamp</th>
                    <th>Amount</th>
                    <th>Accepted</th>
                    <th>Rejected</th>
                </tr>
            </tfoot>
            <tbody>
              <% @transactions.each do |transaction| %>
                <tr>
                  <td><%= transaction.id %></td>
                  <td><%= transaction.seller.email %></td>
                  <td><%= transaction.buyer.email %></td>
                  <td><%= transaction.transactiontime %></td>
                  <td><%= transaction.amount %></td>
                  <td><%= transaction.accepted %></td>
                  <td><%= transaction.rejected %></td>
                </tr>
              <% end %>
            </tbody>
      </table>
  </div>
</div>





