<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12"><h1>Transaction</h1></div>
  <% if current_user.is_admin? %>
    <div class="col-sm-12 col-md-12 col-lg-12"><%= link_to "Edit", transaction_edit_path(:id => @transaction.try(:id)), class: 'btn btn-outline-success pull-xs-right edit-button' %></div>
  <% end %>
	<div class="col-sm-4 col-md-4 col-lg-4">
		<div class="card card-block">
      		<h3 class="card-title">Seller</h3>
      		<p class="card-text"><strong>Name:</strong><span class="pull-xs-right"> <%= @transaction.seller.try(:name) %></span></p>
      		<p class="card-text"><strong>Surname:</strong><span class="pull-xs-right"> <%= @transaction.seller.try(:surname) %></span></p>
      		<p class="card-text"><strong>Email:</strong><span class="pull-xs-right"> <%= @transaction.seller.try(:email) %></span></p>
        <% if !@transaction.seller.blank? %>
      		<%= link_to "User Page", user_show_path(:id => @transaction.seller.try(:id)), class: 'btn btn-primary pull-xs-right' %>
        <% end %>
    	</div>
	</div>
	<div class="col-sm-4 col-md-4 col-lg-4">
		<div class="card card-block">
      		<h3 class="card-title">Buyer</h3>
      		<p class="card-text"><strong>Name:</strong><span class="pull-xs-right"> <%= @transaction.buyer.try(:name) %></span></p>
      		<p class="card-text"><strong>Surname:</strong><span class="pull-xs-right"> <%= @transaction.buyer.try(:surname) %></span></p>
      		<p class="card-text"><strong>Email:</strong><span class="pull-xs-right"> <%= @transaction.buyer.try(:email) %></span></p>
        <% if !@transaction.buyer.blank? %>
      		<%= link_to "User Page", user_show_path(:id => @transaction.buyer.try(:id)), class: 'btn btn-primary pull-xs-right' %>
        <% end %>
		</div>
	</div>
	<div class="col-sm-4 col-md-4 col-lg-4">
		<div class="card card-block">
      		<h3 class="card-title">Info</h3>
      		<p class="card-text"><strong>Amount: </strong><span class="pull-xs-right"> <%= number_to_currency(@transaction.amount) %></span></p>
      		<p class="card-text"><strong>Timestamp: </strong><span class="pull-xs-right"> <%= transaction_time(@transaction.transactiontime) %></span></p>
      		<p class="card-text"><strong>Status: </strong> <%= status(@transaction) %></p>
      	<% if current_user.is_admin? %>
      		<% if @transaction.is_completed? %>
      			<% if @transaction.is_accepted? %>
      				<%= link_to "Accept", transaction_accept_path(:id => @transaction.id), class: 'btn btn-success pull-xs-left disabled' %>
      				<%= link_to "Reject", transaction_reject_path(:id => @transaction.id), class: 'btn btn-danger pull-xs-right' %>
      			<% elsif @transaction.is_rejected? %>
      				<%= link_to "Accept", transaction_accept_path(:id => @transaction.id), class: 'btn btn-success pull-xs-left' %>
      				<%= link_to "Reject", transaction_reject_path(:id => @transaction.id), class: 'btn btn-danger pull-xs-right disabled' %>
      			<% else %>
      				<%= link_to "Accept", transaction_accept_path(:id => @transaction.id), class: 'btn btn-success pull-xs-left' %>
      				<%= link_to "Reject", transaction_reject_path(:id => @transaction.id), class: 'btn btn-danger pull-xs-right' %>
      			<% end %>
      		<% end %>
      	<% end %>
		</div>
	</div>
</div>

<%= render partial: 'gallery', locals: {transaction: @transaction} %>