<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
  	<h1>Upload Transactions</h1>
    <br/>
  	<%= form_for :request, :url => 'casuale', html: {id:'myForm'} do %>
      <input type=hidden name="files_list" id='fileslist'>
      <!-- We use this <div> element to initialize our Dropzone -->
      <div id="mydropzone" class="dropzone"> 
      </div> 
      <!-- This <div> elements shows a suitable message after a successful upload. -->
      <div id="msgBoard" style="display:none"></div>
      <br>
      <div id="dropzoneButtons" class="text-xs-right">
        <input type='submit' id="removeAll" value="Remove All" class="btn btn-danger aligned-buttons">
        <input type='submit' id="uploadButton" value="Upload Files" class="btn btn-primary aligned-buttons">
      </div>
    <% end %>
  </div>
  
</div>

<script type="text/javascript">
var AUTH_TOKEN=$('meta[name="csrf-token"]').attr('content');

    Dropzone.autoDiscover = false;

    
        var myDropzone = new Dropzone("div#mydropzone",{ 
          url: '/transactions/create',
          autoProcessQueue: false,
          uploadMultiple: true,
          addRemoveLinks:true,
          parallelUploads:12,
          maxFiles:10,
          dictDefaultMessage : 'Drop files here to upload or click the Dropzone !',
          params:{
            'authenticity_token':  AUTH_TOKEN
          },
          successmultiple: function(data,response){
              $('#msgBoard').html(response.message).addClass("alert alert-success").delay(300).fadeIn();
              $('#msgBoard').delay(2000).fadeOut();
              $('#fileslist').val(response.filesList);
              //$('#myForm').off('submit').submit();
          }
        });

        $('#myForm').submit(function(e){
          if(myDropzone.getQueuedFiles().length > 0){
            e.preventDefault();
            myDropzone.processQueue();
          } else {
            e.preventDefault();
            $('#msgBoard').html("You should add files before upload").addClass("alert alert-danger").delay(300).fadeIn();
            $('#msgBoard').delay(2000).fadeOut();
          }
        });

        $('#removeAll').on("click", function(e){
          e.preventDefault();
          myDropzone.removeAllFiles();
        });

        /*
        myDropzone.on("complete", function(file) {
          myDropzone.removeFile(file);
        });
        */
    
</script>